<!DOCTYPE html>
<html>

<head>
    <title>Home</title>

	<style type="text/css" media="screen"> 
        body { 
            background-color: skyblue; 
            text-decoration-color: green; 
			font-size: 5em;
        } 
	</style>
</head>

<body>
    <h1>The Home Page <%= 'hello world'.toUpperCase() %></h1>
    <p>Lorem ipsum us vitae. Officiis. </p>
    <h2>The Home Page</h2>
    <p>Lorem ipsum dolelectus quibusdam dolores quo distinctio.</p>
   
</body>

</html>