<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
     <h1>The Home Page <%= 'hello world'.toUpperCase() %></h1>
    <p>Lorem ipsum us vitae. Officiis. </p>
    <h2>The Home Page <%= 5+ 7+7+7 %></h2>
    <p>Lorem ipsum dolelectus quibusdam dolores quo distinctio.</p>
</body>

</html>